.capblocks-icon-list-item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0px;
    p{
        color: #fff;
        margin: 0;
        font-size: 16px;
    }
   &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        background: var(--wp--preset--color--primary);
        border-radius: 50%;
        color: var(--wp--preset--color--tertiary);
        svg{
            color: var(--wp--preset--color--tertiary);
            width: 12px;
            height: 12px;
        }
   }
}